.main {
    font-family: 'Roboto', sans-serif;
    background-color: #FAF9F9;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .passenger-container {
        max-height: 80vh;
    }
}