/* Dodajemy style dla layoutu */
/* section {
    padding: 20px;
} */

.content-wrapper {
    display: flex;
    gap: 20px; /* Odstęp między FlightInfo a główną zawartością */
    padding: 20px;
}

.main {
    font-family: 'Roboto', sans-serif;
    background-color: #E6E8E6;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.main-container {
    width: 80%;
    margin: 0 auto;
}

 .flight-stats-info {
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 1em;
 }

@media screen and (max-width: 768px) {
    .content-wrapper {

        flex-direction: column;
    }

    .passenger-container {
        max-height: 80vh;
    }
}