.seatmap-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0.75rem;
    background: #ffffff;
    border-radius: 4px;
    flex: 1;
    overflow-y: auto;
/*     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0; */
    min-height: 0;
    max-height: 100% !important;
}

.seatmap-container::-webkit-scrollbar {
    width: 8px;
}

.seatmap-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.seatmap-container::-webkit-scrollbar-thumb {
    background: #191F2C;
    border-radius: 4px;
}

.seatmap-container::-webkit-scrollbar-thumb:hover {
    background: #2c3e50;
}

.seat-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.row-number {
    font-weight: bold;
    min-width: 30px;
    text-align: center;
    margin: 0 0.8em;
}

.seat-name-group {
    display: flex;
}

.seat-group {
    display: flex;
    gap: 4px;
}

.seat {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 0.75rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.seat.available {
    background: #333;
}

.seat.occupied {
    background: #f44336;
    cursor: not-allowed;
}

.seat.boarded {
    background: #2196F3;
    cursor: not-allowed;
}

.seat:hover:not(.occupied):not(.boarded) {
    opacity: 0.8;
}

.error {
    color: red;
    font-size: 14px;
    padding: 10px;
    background-color: #ffebee;
    border-radius: 4px;
}