.search-bars-container {
    display: flex;
    gap: 20px;
    margin: 15px 0;
}

.search-bar {
    display: flex;
    width: 25%;
    padding: 10px;
    border: none;
    background: #FAF9F9;
    color: #191F2C;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.search-bar:focus {
    outline: none;
}

/* Responsywność dla mniejszych ekranów */
@media (max-width: 768px) {
    .search-bars-container {
        flex-direction: column;
        gap: 10px;
    }

    .search-bar {
        width: 100%;
    }
}