.search-bars-container {
    display: flex;
    gap: 0.75rem;
    flex-shrink: 0;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ddd;
    background: #ffffff;
    color: #333;
    font-size: 0.95rem;
    border-radius: 4px;
  }

.search-bar:focus {
    outline: none;
    border-color: #2196F3;
}

/* Responsywność dla mniejszych ekranów */
@media (max-width: 768px) {
    .search-bars-container {
        flex-direction: column;
        gap: 10px;
    }

    .search-bar {
        width: 100%;
    }
}